.educationGroup{
  padding: 8px;
  position: relative;
}

.educationGroupHeader{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding: 8px;
}

.educationGroupTitle{
  margin-left: 16px;
  font: 4.5 xx-large Roboto, sans-serif;
  color: black;
}

.educationGroupContent {
  padding: 8px;
}

.circle:first-child{
  background-color: tomato;
}